- name: Add Duo repository
  yum_repository:
    name: duosecurity
    description: Duo Security Repository
    baseurl: http://pkg.duosecurity.com/CentOS/$releasever/$basearch
    gpgcheck: yes
    gpgkey: https://duo.com/RPM-GPG-KEY-DUO

- rpm_key:
    state: present
    key: https://duo.com/RPM-GPG-KEY-DUO

- name: Install Duo Unix
  yum:
    name: duo_unix
    state: latest
    update_cache: yes

- name: Copy pam_duo.conf
  file:
    src: pam_duo.conf
    dest: /etc/duo/pam_duo.conf
    owner: root
    group: root
    mode: 0644